

/* ────────────────────────────────────────────────────────────────────────── */
/* ███████████████████████████ ♻️ VARIÁVEIS  ███████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

/* BEST COLOR PICKER WEBSITE: https://www.iamsajid.com/ui-colors/ */
:root {
	/* Typography Colors */
	--font-body: "Open Sans", sans-serif;
	--font-headings: "Open Sans", sans-serif;
	
	/* Spacing variables */
	--spacing0: 0rem; /* 0 px */
	--spacing1: 0.25rem; /* 4 px */
	--spacing2: 0.5rem; /* 8 px */
	--spacing3: 0.75rem; /* 12 px */
	--spacing4: 1.0rem; /* 16 px */
	--spacing45: 1.25rem; /* 20 px */
	--spacing5: 1.5rem; /* 24 px */
	--spacing6: 2rem; /* 32 px */
	--spacing67: 2.5rem; /* 40 px */
	--spacing7: 3rem; /* 48 px */
	--spacing78: 4rem; /* 64 px */
	--spacing8: 5rem; /* 80 px */
	--spacing9: 6rem; /* 96 px */
	--spacing10: 8rem; /* 128 px */
	--spacing11: 10rem; /* 160 px */

	/* Typograph variables */
	--textsize-1: 0.75rem;   /* 12px */
	--textsize-2: 0.875rem;  /* 14px */
	--textsize-3: 1rem;    /* 16px */
	--textsize-4: 1.125rem;  /* 18px */
	--textsize-5: 1.25rem;   /* 20px */
	--textsize-6: 1.5rem;    /* 24px */
	--textsize-7: 2rem;     /* 32px */
	--textsize-8: 2.5rem;   /* 40px */
	--textsize-9: 3rem;     /* 48px */
	--textsize-10: 4rem;     /* 64px */
	--textsize-11: 5rem;    /* 80px */
}


:root[data-theme="dark"]{
	/* Typography Colors */
	--color-text-primary: oklch(0.96 0.03 265); /* White */
	--color-text-primary-muted: oklch(0.76 0.03 265); /* Off white */
	--color-subtext: oklch(0.72 0.02 265 / 0.8); /* Subtext */

	/* Brand Colors */
	--color-bg-dark: oklch(0.2 0.015 265); /* Plano de fundo */ /* old color oklch(0.1 0.015 265)*/
	--color-bg: oklch(0.25 0.015 265); /* Plano de fundo */ /* old color oklch(0.15 0.015 265)*/
	--color-bg-light: oklch(0.3 0.015 265); /* old color oklch(0.2 0.015 265)*/
	--color-accent1: #025bb0; /* CTA Button ou oklch(0.76 0.1 265)*/
	--color-accent1-hover: #0372db; /* CTA Button brighter*/
	--color-accent2: oklch(0.76 0.1 85); /* Hover amarelo */

	/* Feedback Colors */
	--color-success: oklch(0.7 0.05 160); 
	--color-warning: oklch(0.7 0.05 100);
	--color-danger: oklch(0.7 0.05 30);

	/* Decoration Colors */
	--color-highlight: oklch(0.5 0.03 265);
	--color-border: oklch(0.4 0.03 265);
	--color-border-muted: oklch(0.3 0.03 265);
	--color-info: oklch(0.7 0.05 260);

	/* Gradients */
	--gradient-bg: linear-gradient(0deg, var(--color-bg) 95%, var(--color-bg-light));
	--gradient-bg-hover: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));

	/* Properties and Values */
	--shadow: 
			0px 4px 6px -1px oklch(0 0 0 / 0.65),
    	0px 2px 4px -1px oklch(0 0 0 / 0.05); /*Deslocamento X, Deslocamento Y, Blur, Cor da sombra RGBA*/
	--shadow-hover: 
			0px 10px 15px -3px oklch(0 0 0 / 0.72),
    	0px 0px 0px -2px oklch(0 0 0 / 0.08);
	--shadow-active:  
			0px 4px 12px oklch(0 0 0 / 0.55),
    	0px 0px 0px 1px oklch(0 0 0 / 0.04);
	--border: solid 1px var(--color-border); /* Borda com cor de borda */
}

:root[data-theme="light"]{
	/* Typography Colors */
	--color-text-primary: oklch(0.15 0.03 265);   /* White */
	--color-text-primary-muted: oklch(0.4 0.03 265);     /* Off white */
	--color-subtext: oklch(0.50 0.02 265); /* Subtext */

	/* Brand Colors */
	--color-bg-dark: oklch(0.92 0.015 265);   /* Plano de fundo */
	--color-bg: oklch(0.96 0.015 265);   /* Plano de fundo */
	--color-bg-light: oklch(1 0.015 265);
	--color-accent1: oklch(0.66 0.1 265); /* CTA Button, find #025bb0 for light mode later */
	--color-accent1-hover: #0372db; /* CTA Button brighter*/
	--color-accent2: oklch(0.4 0.1 85); /* Hover amarelo */

	/* Feedback Colors */
	--color-success: oklch(0.5 0.05 160); 
	--color-warning: oklch(0.5 0.05 100);
	--color-danger: oklch(0.5 0.05 30);

	/* Decoration Colors */
	--color-highlight: oklch(0.8 0.015 0 / 1); /* Inventei essa cor*/
	--color-border: oklch(0.6 0.03 265);
	--color-border-muted: oklch(0.7 0.03 265);
	--color-info: oklch(0.5 0.05 260);

	/* Gradients */
	--gradient-bg: linear-gradient(0deg, var(--color-bg) 95%, var(--color-bg-light));
	--gradient-bg-hover: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));

	/* Properties and Values*/
	--shadow: 
			0px 4px 6px -1px oklch(0 0 0 / 0.02),
    	0px 2px 4px -1px oklch(0 0 0 / 0.02); /*Deslocamento X, Deslocamento Y, Blur, Cor da sombra RGBA*/
	--shadow-hover: 
			0px 10px 15px -3px oklch(0 0 0 / 0.08),
    	0px 4px 6px -2px oklch(0 0 0 / 0.12);
	--shadow-active:  
			0px 1px 2px oklch(0 0 0 / 0.05);
	--border: solid 1px oklch(0.6 0.015 0 / 1); /* Inventei essa cor*/
}

:root[data-theme="light"] .logo-header{
	content: url("/assets/img/LogoDark_Pedro AGA Silva Engenheiro Mecânico.png");
}


/* ────────────────────────────────────────────────────────────────────────── */
/* ██████████████████    ✏️ RESET & GLOBAL STYLES    ███████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

*{
	/* Layout Padrão */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	/* Effects */
	scroll-behavior: smooth;
}

body{
	/* Layout */
	overflow-x: hidden; /* Esconde tudo que está fora da tela */
	width: 100%; /* A página sempre vai ter a largura da tela */
  min-height: 100vh; /* Altura mínima, garante que rodapé fica colado no final da tela mesmo em páginas curtas */
	/* Typograph */
	font-family: var(--font-body);
  font-size: var(--textsize-3); /*16px base*/
  font-weight: 400;
  line-height: 1.4;
	text-wrap: pretty;
	/* Visuals */
	background-color: var(--color-bg-dark);
	/* Effects */
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
}


/* ────────────────────────────────────────────────────────────────────────── */
/* ██████████████████████████  📝 TIPOGRAFIA  ██████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

/* ─── TIPOGRAFIA GERAL ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
h1, h2, h3, h4{
	color: var(--color-text-primary);
	font-family: var(--font-headings);
}


.prose h1{
	/* Sizing */
	margin-top: calc(var(--textsize-9)*1.0); /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: calc(var(--textsize-9)*0.5); /*Espaçamento de paragrafo AFTER*/
}
h1{
	/* Typography */
	font-size: var(--textsize-9); /*48px*/
	font-weight: 700;
	line-height: 1.1; /*Espaçamento entre linhas*/
	letter-spacing: -0.02em;
	/* Visuals */
	color: var(--color-text-primary); /*Primary TextColor*/
}


.prose h2{
	/* Sizing */
	margin-top: calc(var(--textsize-8)*1.0); /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: calc(var(--textsize-8)*0.5); /*Espaçamento de paragrafo AFTER*/
}
h2{
	/* Typography */
	font-size: var(--textsize-8); /*40px*/
	font-weight: 600;
	line-height: 1.1; /*Espaçamento entre linhas*/
	letter-spacing: -0.015em;
	/* Visuals */
}


.prose h3{
	/* Sizing */
	margin-top: calc(var(--textsize-7)*1.0); /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: calc(var(--textsize-7)*0.5); /*Espaçamento de paragrafo AFTER*/
}
h3{
	/* Typography */
	font-size: var(--textsize-7); /*32px*/
	font-weight: 600;
	line-height: 1.2; /*Espaçamento entre linhas*/
	/* Visuals */
	color: var(--color-text-primary); /*Primary TextColor*/
}


.prose h4{
	/* Sizing */
	margin-top: calc(var(--textsize-6)*1.0); /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: calc(var(--textsize-6)*0.5); /*Espaçamento de paragrafo AFTER*/
}
h4{
	/* Typography */
	font-size: var(--textsize-6);/*24px*/
	font-weight: 600;
	line-height: 1.3; /*Espaçamento entre linhas*/
	/* Visuals */
	color: var(--color-text-primary); /*Primary TextColor*/
}


.prose p{
	/* Sizing */
	margin-top: calc(var(--textsize-3)*1.0); /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: calc(var(--textsize-3)*0.5); /*Espaçamento de paragrafo AFTER*/
}
p{
	/* Typography */
	font-size: var(--textsize-3);/*16px*/
	font-weight: normal;
	line-height: 1.4; /*Espaçamento entre linhas*/
	/* Visuals */
	color: var(--color-text-primary-muted); /*Muted TextColor*/
}


.prose .text-small{
	/* Sizing */
	margin-top: calc(var(--textsize-2)*1.0); /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: calc(var(--textsize-2)*0.5); /*Espaçamento de paragrafo AFTER*/
}
.text-small{
	/* Typography */
	font-size: var(--textsize-2);/*12px*/
	font-weight: normal;
	line-height: 1.5; /*Espaçamento entre linhas*/
	/* Visuals */
	color: var(--color-text-primary); /*Muted TextColor*/
}


.prose .text-xsmall{
	/* Sizing */
	margin-top: calc(var(--textsize-2)*1.0); /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: calc(var(--textsize-2)*0.5); /*Espaçamento de paragrafo AFTER*/
}
.text-xsmall{

	/* Typography */
	font-size: var(--textsize-2);/*12px*/
	font-weight: normal;
	line-height: 1.5; /*Espaçamento entre linhas*/
	/* Visuals */
	color: var(--color-text-primary-muted); /*Muted TextColor*/
}


/* ─── TIPOGRAFIA DE COMPONENTS ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
a{
	/* Typography */
	font-size: inherit;/*16px*/
	font-weight: 500;
	/* Visuals */
	color: var(--color-text-primary); /*Primary TextColor*/
	text-decoration: none;
	/* Effects */
	transition: 0.2s ease;
}
a:hover{
	/* Visuals */
	opacity: 0.7;
}


.card-title{
  /* Typography */
  font-size: var(--textsize-3);/*16px*/
	font-weight: 600;
	line-height: 1.4; /*Espaçamento entre linhas*/
	/* Visuals */
	color: var(--color-text-primary); /*Primary TextColor*/
}

.card-subtitle{
  /* Typography */
  font-size: var(--textsize-2);/*14px*/
	font-weight: 400;
	line-height: 1.5; /*Espaçamento entre linhas*/
	/* Visuals */
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	text-decoration: none;
}

.card-content{
  /* Typography */
  font-size: var(--textsize-2);/*14px*/
	font-weight: 400;
	line-height: 1.5; /*Espaçamento entre linhas*/
	/* Visuals */
	color: var(--color-text-primary); /*Primary TextColor*/
	text-decoration: none;
}

strong {
  /* Typography */
  font-weight: 600;
}

.subtext{
	/* Visuals */
	color: var(--color-subtext);
}

.span-nowrap{
    /* Layout */
    display: block; /* Sozinho na linha */
    /* Typography */
    white-space: nowrap;
}


/* ─── TIPOGRAFIA MOBILE ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
@media (max-width:992px) {
	
	.prose h1{
		/* Sizing */
		margin-top: calc(var(--textsize-7)*1.0); /*Espaçamento de paragrafo BEFORE*/
		margin-bottom: calc(var(--textsize-7)*0.5); /*Espaçamento de paragrafo AFTER*/
	}
	h1{
		/* Typography */
		font-size: var(--textsize-7); /*32px*/
	}
	

	.prose h2{
		/* Sizing */
		margin-top: calc(var(--textsize-6)*1.0); /*Espaçamento de paragrafo BEFORE*/
		margin-bottom: calc(var(--textsize-6)*0.5); /*Espaçamento de paragrafo AFTER*/
	}
	h2{
		/* Typography */
		font-size: var(--textsize-6); /*24px*/
	}
	

	.prose h3{
		/* Sizing */
		margin-top: calc(var(--textsize-5)*1.0); /*Espaçamento de paragrafo BEFORE*/
		margin-bottom: calc(var(--textsize-5)*0.5); /*Espaçamento de paragrafo AFTER*/
	}
	h3{
		/* Typography */
		font-size: var(--textsize-5); /*20px*/
	}
	

	.prose h4{
		/* Sizing */
		margin-top: calc(var(--textsize-4)*1.0); /*Espaçamento de paragrafo BEFORE*/
		margin-bottom: calc(var(--textsize-4)*0.5); /*Espaçamento de paragrafo AFTER*/
	}
	h4{
		/* Typography */
		font-size: var(--textsize-4);/*18px*/
	}
	

	.prose p{
		/* Sizing */
		margin-top: calc(var(--textsize-3)*1.0); /*Espaçamento de paragrafo BEFORE*/
		margin-bottom: calc(var(--textsize-3)*0.5); /*Espaçamento de paragrafo AFTER*/
	}
	p{
		/* Typography */
		font-size: var(--textsize-3);/*16px*/
	}
	

	.prose .text-small{
		/* Sizing */
		margin-top: calc(var(--textsize-2)*1.0); /*Espaçamento de paragrafo BEFORE*/
		margin-bottom: calc(var(--textsize-2)*0.5); /*Espaçamento de paragrafo AFTER*/
	}
	.text-small{
		/* Typography */
		font-size: var(--textsize-2);/*12px*/
	}


	.prose .text-xsmall{
		/* Sizing */
		margin-top: calc(var(--textsize-2)*1.0); /*Espaçamento de paragrafo BEFORE*/
		margin-bottom: calc(var(--textsize-2)*0.5); /*Espaçamento de paragrafo AFTER*/
	}
	.text-xsmall{
		/* Typography */
		font-size: var(--textsize-2);/*12px*/
	}


	.card-title{
	  /* Typography */
	  font-size: var(--textsize-3);/*16px*/
	}

	.card-subtitle{
	  /* Typography */
	  font-size: var(--textsize-2);/*14px*/
	}

	.card-content{
	  /* Typography */
	  font-size: var(--textsize-2);/*14px*/
	}
}



/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████ 🖥️ LAYOUT SYSTEM  ██████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */
/* Classes que servem apenas para layout */

/* ─── PAGE WRAPPERS ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.container{
	/* Layout */
  margin: 0 auto;
	/* Sizing */
  padding: 0 var(--spacing10);
  max-width: 1200px;
  box-sizing: border-box;
  /* Effects */
	transition: filter 0.3s ease; /*Acontece ao sofrer blur do hamburger menu*/
}


/* ───  Seção ──────────────────────────────────────────────────────── ✣ ─ */
.section{
	margin-top: var(--spacing6);
}


/* ─── FLEX UTILITIES ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.flex{display: flex;}

.flex-col {flex-direction: column;}
.flex-row {flex-direction: row;}
.flex-colreverse {flex-direction: column-reverse;}
.flex-rowreverse{flex-direction: row-reverse;}

.items-center{align-items: center}
.items-start{align-items: flex-start;}
.items-end{align-items: flex-end;}

.justify-spacebetween{justify-content: space-between;}
.justify-center-mobile{justify-content: center;}
.justify-start{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.self-start{align-self: start;}
.self-center{align-self: center;}

@media (max-width: 992px) {
	.flex-row-mobile {flex-direction: row;}
	.flex-rowreverse-mobile{flex-direction: row-reverse;}
	.flex-col-mobile {flex-direction: column;}
	.flex-colreverse-mobile{flex-direction: column-reverse;}
	
	.items-center-mobile{align-items: center}
	.items-start-mobile{align-items: flex-start;}
	.items-end-mobile{align-items: flex-end;}

	.justify-spacebetween-mobile{justify-content: space-between;}
	.justify-center-mobile{justify-content: center;}
	.justify-start-mobile{justify-content: flex-start;}
	.justify-end-mobile{justify-content: flex-end;}

	.text-center-mobile{text-align: center;}
	.text-left-mobile{text-align: left;}
	.text-right-mobile{text-align: right;}

	.self-center-mobile{align-self: center;}
}



/* ─── GLOBAL LIST STYLES ─────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
nav ul{
	/* Layout */
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-end; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: var(--spacing4); /*Margin entre itens*/
	/* Visuals */
	list-style: none;
}

footer section ul{
	/* Layout */
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-end; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
	/* Visuals */
	list-style: none;
}



/* ────────────────────────────────────────────────────────────────────────── */
/* ███████████████████████████  🧩COMPONENTS  ███████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

/* ───  BUTTON ──────────────────────────────────────────────────────── ✣ ─ */
.btn{
	/* Layout */
	white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
	/* Visuals */
  border-radius: var(--spacing2);
  box-shadow: var(--shadow);
	/* Effects */
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}
.btn:hover{
	/* Visuals */
	background-color: var(--color-accent1-hover);
	box-shadow: var(--shadow-hover);
	border-color: var(--color-accent1);
	/* Effects */
	transform: translateY(-2px);
}
.btn:active {
	/* Visuals */
	box-shadow: var(--shadow-active);
	/* Effects */
	transform: translateY(0);
}

/* ───  BUTTON PRIMARY ──────────────────────────────────────────────────────── ✣ ─ */
.btn--primary{
	/* Sizing */
	padding: var(--spacing3) calc(var(--spacing3)*1.5); /* vertical | horizontal */
	min-height: var(--spacing6);
	/* Typograph */
	font-size: var(--spacing4);
	/* Visuals */
	background-color: var(--color-accent1); /*CTA Color*/
}

/* ───  BUTTON SECUNDARY ──────────────────────────────────────────────────────── ✣ ─ */
.btn--secondary{
	/* Sizing */
	padding: var(--spacing3) var(--spacing3); /* vertical | horizontal */
	min-height: var(--spacing6);
	/* Typograph */
	font-size: var(--spacing4);
	/* Visuals */
	background-color: rgba(0, 0, 0, 0.00); /* Transparent Color */
	color: var(--color-text-primary);
	border: var(--border);
}
.btn--secondary:hover{
	/* Visuals */
	background-color: var(--color-bg-dark); /* Transparent Secundary Color */
	color: var(--color-accent1);
}


/* ─── Dividers ──────────────────────────────────────────────────────── ✣ ─ */
.divider-horizontal100{
	display: flex;
	width: 100%;
	height: 1px;
	margin: var(--spacing0) var(--spacing1); /* vertical | horizontal */
	background-color: var(--color-border-muted);
}

.divider-horizontal90{
	display: flex;
	width: 90%;
	height: 1px;
	margin: var(--spacing0) var(--spacing1); /* vertical | horizontal */
	background-color: var(--color-border-muted);
}

.pill-divider {
    width: 1px;
    height: var(--spacing45); /* 20px */
    background-color: var(--color-border-muted);
    margin: 0 2px;
}


/* ─── Icons ─────────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.svgicon-small{
	/*Size 32px*/
	width: var(--spacing6);
	min-width: var(--spacing6);
	color: var(--color-text-primary-muted);
}

.svgicon-xsmall{
	/*Size 24px*/
	width: var(--spacing5);
	min-width:: var(--spacing5);
	color: var(--color-text-primary-muted);
}

.btn .svgicon-small path,
.btn .svgicon-xsmall path{
	color: var(--color-text-primary);
}


/* ─── CARDS ─────────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.card{
	/* Visuals */
  background-color: var(--color-bg);
  border: var(--border);
  border-radius: var(--spacing4);
	border-top: solid 1px var(--color-highlight);
	box-shadow: var(--shadow);
	/* Effects */
  transition: transform 0.25s ease, box-shadow 0.25s ease, border-color 0.25s ease;
}
.card:hover{
	/* Visuals */
  border-color: var(--color-accent1);
	box-shadow: var(--shadow-hover);
	transform: translateY(-4px);
}


.card--emote{
	/* Layout */
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	text-align: left;
	gap: var(--spacing4); /* Margin entre texto e imagem */
	z-index: 2;
	/* Sizing */
	padding: var(--spacing2) var(--spacing2) var(--spacing2) var(--spacing3);
	min-height: var(--spacing6);
	width: 30%;
}

/* O duplo traço no nome indica que é um modificador image para o elemento .card */
.card--carousel{ 
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--spacing0); /* Margin entre texto e imagem */
	overflow: hidden; /* Esconde oq sair do container */
	/* Sizing */
	padding: var(--spacing0);
	min-height: var(--spacing6);
	min-width: 280px; /* Garante uma largura mínima elegante */
	width: 30%;
}

/* O duplo underline no nome indica que é uma imagem dentro do elemento .card */
.card__image{
	/* Layout */
	width: 100%;
	aspect-ratio: 16/9; 
  object-fit: cover;
	/* Sizing */
	height: auto;
	margin: 0;
	/* Visuals */
	transition: transform 0.5s ease;
	/* Efeitos - Impedir Image Grab e Selection */
  -webkit-user-drag: none;
  user-drag: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card--carousel:hover .card__image {
  transform: scale(1.05); /* Zoom suave no hover */
}


.card__media{
	/* Layout */
	position: relative;
	overflow: hidden;
}

.card__badges{
	/* Layout */
  display: flex;
	position: absolute;
	top: 10px;
  right: 10px;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 5;
}


/* ─── Textos do Carousel ──────────────────────────────────────────────────────── ✣ ─ */
.card--carousel strong { /* Titulo */
  /* Layout */
  display: block; /* Sozinho na linha */
}

.card--carousel a { /* Área de Texto (Link) */
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing1);
  /* Sizing */
  padding: var(--spacing3); /* Espaçamento interno para o texto não colar na borda */
  flex-grow: 1; /* Ocupa o resto da altura do card */
  /* Visuals */
  background: var(--gradient-bg);
  border-top: 1px solid var(--color-border-muted);
}


/* ─── CAROUSEL ─────────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.carousel-wrapper{
	/* Layout */
	position: relative;
	overflow: hidden;
	/* Sizing */
	width: 100%;
	/* Efeito */
	transition: -webkit-mask-image 0.3s ease, mask-image 0.3s ease;
	/* Efeito de fade nas bordas, caso JS não funcione */
  -webkit-mask-image: linear-gradient(
      to right, 
      gray 98%, 
      transparent 100%
  );
  mask-image: linear-gradient(
      to right, 
      gray 98%, 
      transparent 100%
  );
}

/* ESTADO: Nenhum (Se couber tudo na tela) */
.carousel-wrapper[data-scroll="none"] {
  -webkit-mask-image: none;
  mask-image: none;
}

/* ESTADO: Meio (Fade em Ambos os lados) */
.carousel-wrapper[data-scroll="middle"] {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, gray 2%, gray 98%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, gray 2%, gray 98%, transparent 100%);
}

/* ESTADO: Fim (Fade apenas na Esquerda) */
.carousel-wrapper[data-scroll="end"] {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, gray 2%);
  mask-image: linear-gradient(to right, transparent 0%, gray 2%);
}

.carousel-track{
	/* Layout */
	display: flex;
  gap: var(--spacing4); /* 16px de espaço entre cards */
	/* Sizing */
  padding: var(--spacing2) var(--spacing1) var(--spacing4) var(--spacing1); /* Espaçamento interno para não cortar sombras ou bordas */
	/* Effects */
	overflow-x: auto; /*Esconde o overflow mas mostra um scroll. Mas caso não tenha overflow, o scroll some*/
	scrollbar-width: none; /*Esconde a scroll bar no firefox*/
	scroll-snap-type: x mandatory;
	scroll-padding-inline: var(--spacing1); /*Considera o padding nos snaps*/
	scroll-behavior: smooth;	
	scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  cursor: grab;
  user-select: none;
}

.carousel-track.active{
	/* Effects */
	cursor: grabbing; 
  cursor: -webkit-grabbing;
  scroll-snap-type: none; 
  scroll-behavior: auto;
}

.carousel-track::-webkit-scrollbar{
	/* Layout */
	display: none;
}

.carousel-track .card--carousel {
  /* NÃO SEI OQ TA ACONTECENDO AQUI */
  /* Layout */
  flex: 0 0 calc((100% - (var(--spacing4) * 2)) / 3);
  margin: 0; /* Reseta margens externas */
	/* Sizing */
  width: auto; /* Reseta o width fixo de 30% antigo */
	/* Effects */
  scroll-snap-align: start; /* Alinha o card à esquerda ao parar de rolar */
}

/* ─── BADGES ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.badge{
	/* Visuals */
  padding: 2px 4px;
	/* Typograph */
  font-size: var(--spacing3);
  font-weight: 600;
	/* Visuals */
  color: white;
  opacity:.9;
  background: rgba(20,25,40,0.65);
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 999px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
	/* Effects */
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
 	transform:translateY(-2px);
 	transition:.25s;
}

.card:hover .badge{
 opacity:1;
 transform:translateY(0);
}

.badge--autocad{ background:#b91c1c; }
.badge--revit{ background:#0ea5e9; }
.badge--solidworks{ background:#ef4444; }
.badge--ansys{ background:#f59e0b; color:#111; }
.badge--hap{ background:#0284c7; }
.badge--xpress{ background:#2563eb; }
.badge--excel{ background:#166534; }
.badge--vba{ background:#059669; }
.badge--word{ background:#1d4ed8; }
.badge--powerpoint{ background:#ea580c; }
.badge--powerbi{ background:#eab308; color:#111; }
.badge--project{ background:#15803d; }
.badge--office{ background:#334155; }
.badge--python{ background:#2563eb; }
.badge--cpp{ background:#1d4ed8; }
.badge--c{ background:#0f766e; }
.badge--html{ background:#ea580c; }
.badge--css{ background:#0284c7; }
.badge--git{ background:#ef4444; }
.badge--github{ background:#111827; }
.badge--iot{ background:#7c3aed; }
.badge--esp32{ background:#0891b2; }
.badge--rtos{ background:#9333ea; }
.badge--automation{ background:#059669; }
.badge--hvac{ background:#0284c7; }
.badge--cleanroom{ background:#0ea5e9; }
.badge--engineering{ background:#334155; }
.badge--analysis{ background:#7c3aed; }
.badge--simulation{ background:#f59e0b; color:#111; }
.badge--management{ background:#475569; }
.badge--english{ background:#2563eb; }
.badge--c2{ background:#1d4ed8; }
.badge--international{ background:#7c3aed; }



/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████ 📄 PAGE SECTIONS  ██████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */
/* Elementos que so aparecem 1 vez na página, são muito especificos */

/* ─── HEADER ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.header{
	/* Sizing */
	width: 100%;
}

t-header{
	display: block;
	width: 100%;
}

.logo-header{
	/* Sizing */
	height: var(--spacing8);
	width: auto
}

.navbar{
	/* Layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing4);
}

.navbar--desktop{
	justify-content: flex-end;
}

.navbar--mobile{
	display: none;
  gap: var(--spacing4); /* Espaço entre a Pílula e o Hambúrguer */ 
}


/* ─── HEADER - Menu offscreen  ──────────────────────────────────────────────────────── ✣ ─ */
.offscreen-menu{
	/* Layout */
	display: none;
	position: fixed;
	top: 0;
	z-index: 998;
	/* Layout Mobile */
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
 	/* Effects */
	filter: none; /*Remove o blur desse elemento*/
	transition: right 0.3s ease;
	/* Glass Blur Effect */
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
	/* Visuals Legacy Browsers */
 	background-color: var(--color-bg-light);
 	/* Visuals */
 	background-color: color-mix(in srgb, var(--color-bg-light), transparent 15%);;
}

.offscreen-menu > ul{
	/* Layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: var(--spacing8);
	gap: var(--spacing4);
  /* Sizing */
	padding: 0;
  /* Effects */
	list-style: none;
}

.offscreen-menu ul li{
	/* Layout */
	display: flex;
	flex-direction: row;
	align-items: center;
}


/* ─── HEADER - NAV SETTINGS ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.nav-preferences {
  /* Layout */
  display: flex;
  align-items: center;
  /* Sizing */
  padding: var(--spacing1);
	/* Visuals */
  background-color: transparent;
  border: 1px solid var(--color-border-muted); 
  border-radius: 50px; 
	/* Effects */
  transition: border-color 0.3s ease;
}
.nav-preferences:hover {
	/* Visuals */
	border-color: var(--color-text-primary);
}


/* ─── HEADER - Settings Pill ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.btn-settings, 
.lang-toggle{
	/* Layout */
	display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing2);
	/* Sizing */
  padding: var(--spacing1) var(--spacing2);
	/* Typograph */
  font-size: var(--spacing4);
  color: var(--color-text-primary);
	/* Visuals */
  background: transparent;
  border: none;
  box-shadow: none;
	/* Effects */
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.btn-settings:hover, 
.lang-toggle:hover {
	/* Visuals */
  color: var(--color-accent1);
  background-color: var(--color-bg-dark);
}

.btn-settings {
	/* Sizing */
  padding-left: var(--spacing2);
	/* Visuals */
  border-radius: 50px 0 0 50px;
}

.lang-toggle {
	/* Sizing */
  padding-right: var(--spacing2);
	/* Visuals */
  border-radius: 0 50px 50px 0;
}


/* ───  FOOTER ──────────────────────────────────────────────── ✣ ─ */
footer{
	background-color: var(--color-bg-light);
}

.footer-bottom{
	/* Layout */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* Sizing */
	margin-top: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
}


/* ───  Lang Menu & Selector ──────────────────────────────────────────────── ✣ ─ */
.lang-selector {
  /* Layout */
  position: relative;
  display: flex;
}

.lang-menu {
  /* Layout */
  display: none;
  position: absolute;
  top: calc(100% + var(--spacing3)); 
  right: 0;
  z-index: 999;
	/* Sizing */
  padding: var(--spacing2); /* 8px */
  min-width: 140px;
	/* Visuals */
  background-color: var(--color-bg-light);
  border: var(--border);
  border-radius: var(--spacing2);
  box-shadow: var(--shadow);
  list-style: none;
	/* Effects */
  transform: translateY(calc(var(--spacing2) * -1));
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.lang-menu li {
  /* Layout */
  text-align: left;
	/* Sizing */
  padding: var(--spacing2) var(--spacing3);
	/* Typograph */
	/* Visuals */
  color: var(--color-text-primary);
  border-radius: var(--spacing1);
	/* Effects */
  cursor: pointer;
  transition: background 0.2s;
}

.lang-menu li:hover {
	/* Visuals */
  background-color: var(--color-bg-dark); 
  color: var(--color-accent1);
}

.lang-selector.open .lang-menu {
  /* Layout */
  display: flex;
  flex-direction: column;
  /* Effects */
  transform: translateY(0);
}

/* ─── HERO ───────────────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.hero-left{
	/* Layout */
	align-items: flex-start;
	/* Sizing */
	padding-right: 10%; /*Ocupar menos espaço do container*/
	width: 80%;
}

.hero-image{
 	/* Layout */
  position: relative;
  /* Sizing */
  width: 30%;
}

.hero-image img{
	/* Layout */
  position: relative;
  z-index: 1;
  /*Sizing*/
  width: 122%;
}

.hero-image::before{
  /* Layout */
  content: ""; /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
  position: absolute;
  inset: -30% -40%;
  z-index: 0;
  /* Visual */
  background: radial-gradient(
    circle at center,
    rgba(2,91,176,0.15),
    transparent 70% 
  );
  /* Effects */
  pointer-events: none; /* O mouse ignora esse elemento, clica direto no que estiver atrás */
}

@media (max-width: 992px) {
	/* ─── HEADER  ──────────────────────────────────────────────────────── ✣ ─ */
	.offscreen-menu {
		/* Layout */
		display: flex;
		right: -100%;
  	/* Sizing */
		padding: var(--spacing0) var(--spacing7);
		height: 100vh;
		width: 100%;
		max-width: 250px;
  }

  .offscreen-menu.active{
		/* Layout */
		right: 0px;
  	/* Effects */
		visibility: visible;
		opacity: 1;
	}

  .navbar--mobile {
    /* Layout */
    display: flex;
  }

  .navbar--mobile .nav-preferences {
    /* Effects */
    transform: scale(0.95); 
    transform-origin: right center;
  }

  .navbar--mobile .lang-menu {
    /* Layout */
    right: 0;
    left: auto;
  	/* Sizing */
    min-width: 130px;
  }
} 

/* ────────────────────────────────────────────────────────────────────────── */
/* ██████████████████████   ⚙️ UTILITY CLASSES     ██████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

.w-full{
	width: 100%;
}

.w-90{
	width: 90%;
}

.hidden{
	display: none;
}

.margintop-small{
	margin-top: var(--spacing4);
}

.nopaddingtop{
	padding-top: 0;
}

.nopaddingbottom{
	padding-bottom: 0;
}

.nomargintop{
	margin-top: 0;
}

.nomarginbottom{
	margin-bottom: 0;
}

.gap1{gap: var(--spacing1); }
.gap2{gap: var(--spacing2); }
.gap3{gap: var(--spacing3); }
.gap4{gap: var(--spacing4); }
.gap45{gap: var(--spacing45); }
.gap5{gap: var(--spacing5); }
.gap7{gap: var(--spacing7); }
.gap8{gap: var(--spacing8); }
.gap9{gap: var(--spacing9); }
.gap10{gap: var(--spacing10); }
.gap11{gap: var(--spacing11); }

.p-0{padding: 0; }

/* py significa Padding do Eixo Y */
.py-1{
	padding: var(--spacing1) 0;
}

.py-2{
	padding: var(--spacing2) 0;
}

.py-3{
	padding: var(--spacing3) 0;
}

.py-4{
	padding: var(--spacing4) 0;
}

.py-45{
	padding: var(--spacing45) 0;
}

.py-5{
	padding: var(--spacing5) 0;
}

.py-6{
	padding: var(--spacing6) 0;
}

.py-7{
	padding: var(--spacing7) 0;
}

.py-8{
	padding: var(--spacing8) 0;
}

.py-9{
	padding: var(--spacing9) 0;
}

.py-10{
	padding: var(--spacing10) 0;
}

.py-11{
	padding: var(--spacing11) 0;
}



.my-1{
	margin: var(--spacing1) auto;
}

.my-2{
	margin: var(--spacing2) auto;
}

.my-3{
	margin: var(--spacing3) auto;
}

.my-4{
	margin: var(--spacing4) auto;
}

.my-45{
	margin: var(--spacing45) auto;
}

.my-5{
	margin: var(--spacing5) auto;
}

.my-6{
	margin: var(--spacing6) auto;
}

.my-7{
	margin: var(--spacing7) auto;
}

.my-8{
	margin: var(--spacing8) auto;
}

.my-9{
	margin: var(--spacing9) auto;
}

.my-10{
	margin: var(--spacing10) auto;
}

.my-11{
	margin: var(--spacing11) auto;
}



/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████  📱MOBILE ADJUSTMENTS   █████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

/* ─── Botão (X) fechar menu  ──────────────────────────────────────────────────────── ✣ ─ */
.menu-close {
  /* Layout */
  position: absolute;
  top: var(--spacing4);
  right: var(--spacing4);
  display: flex;
  align-items: center;
  justify-content: center;
  /* Sizing */
  padding: var(--spacing2);
  /* Visuals */
  color: var(--color-text-primary);
  background: transparent;
  border: none;
  border-radius: 50%; /* Deixa o hover circular */
  /* Effects */
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.menu-close:hover {
    /* Visuals */
    background-color: rgba(0, 0, 0, 0.40); /* Círculo sutil no fundo */
    /* Effects */
    transform: rotate(90deg); /* Pequena animação de rotação */
}

.menu-close svg {
  /* Visuals */
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}


/* ─── Botão Hamburguer  ──────────────────────────────────────────────────────── ✣ ─ */
.menu-toggle {
  /* Layout */
  display: none;
  align-items: center;
  justify-content: center;
  /* Visuals */
  color: var(--color-text-primary);
  background: none;
  border: none;
  /* Effects */
  cursor: pointer;
}


/* ─── Overlay Escuro e borrado ao abrir menu  ──────────────────────────────────────────────────────── ✣ ─ */
body.menu-open {
	/* Layout */
	overflow: hidden;
}

body::before {
  /* Layout */
  content: "";
  position: fixed;
  inset: 0;
  z-index: 50;
  /* Visuals */
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px); /* Safari */
  /* Effects */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, backdrop-filter 0.4s ease, visibility 0.4s; 
}

body.menu-open::before {
  /* Visuals */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /* Safari */
  /* Effects */
  opacity: 1;
  visibility: visible;
}

/* ─── Mudanças tela pequena ──────────────────────────────────────────────────────── ✣ ─ */
@media (max-width: 992px) {

	/* ─── Sticky header ──────────────────────────────────────────────────────── ✣ ─ */
	t-header {
    position: sticky;
    top: 0;
    z-index: 990;
  }

	header {
		/* Layout */
    position: sticky;
    top: 0;
    z-index: 990;
  	/* Visuals */
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    /* Glass Blur Effect */
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
  	/* Effects */
    transition: background-color 0.3s ease;
  }

  [data-theme="dark"] header {
    /* Visuals */
    background-color: rgba(15, 23, 42, 0.85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

	/* ─── CARDS & CAROUSEL ──────────────────────────────────────────────────────── ✣ ─ */

  .carousel-track .card--carousel {
    /* Layout */
    flex: 0 0 calc((100% - var(--spacing4)) / 2.2);
    min-width: calc((100% - var(--spacing4)) / 2.2); /* Exibir apenas 2.2 cards */
  }

  .card--emote{
  	/* Sizing */
  	width: 85%;
  }

	/* ─── Elements ──────────────────────────────────────────────────────── ✣ ─ */
  
  .container {
  	/* Sizing */
  	padding: var(--spacing0) var(--spacing6);
  }

  .container .flex {
  	/* Sizing */
    padding-top: var(--spacing1);
    padding-bottom: var(--spacing1);
  }

  .hero-full-line {
  	/* Layout */
  	justify-content: space-between;
  }

  .navbar--desktop{
    /* Layout */
    display: none;
  }

  .hero-left {
    /* Layout */
    align-items: center;
    text-align: center;
    margin: 0 auto;
  	/* Sizing */
    padding-right: 0;
  }

  .hero-image {
    /* Layout */
    justify-content: center;
    align-items: center;
  	/* Sizing */
    width: 100%;
  }

  .hero-image img {
    /* Layout */
    margin-right: 0;
    margin-top: -2px;
    margin-bottom: -16px;
  	/* Sizing */
    height: auto;
    max-width: 40%;
  }

  .hero-image::before {
    /* Layout */
    display: none;
  }



  /* ─── Hamburguer menu show ──────────────────────────────────────────────────────── ✣ ─ */
  .menu-toggle {
    /* Layout */
    display: flex;
  }

  /* ─── Language Selector ──────────────────────────────────────────────────────── ✣ ─ */
  .lang-selector {
    /* Layout */
  	/* Sizing */
  	/* Visuals */
  	/* Effects */
  	/* REFATORAR ISSO */
    width: auto; 
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .lang-menu {
    /* Layout */
  	/* Sizing */
  	/* Visuals */
  	/* Effects */
  	/* REFATORAR ISSO */
    left: 50%;
    right: auto;
    text-align: center; 
    min-width: 150px;
    transform: translateX(-50%) translateY(10px);
  }
  
  .lang-selector.open .lang-menu {
    /* Layout */
  	/* Sizing */
  	/* Visuals */
  	/* Effects */
  	/* REFATORAR ISSO */
  	display: flex; /* Não precisa de display: block se tem flex */
  	flex-direction: column;
  	position: absolute;

  	transform: translateY(0); /* Reseta a posição para a animação funcionar */
  }
  
  .lang-menu li {
    /* Layout */
  	/* Sizing */
  	/* Visuals */
  	/* Effects */
  	/* REFATORAR ISSO */
    text-align: center;
    padding: var(--spacing3);
  }


  /* ─── Utilities mobile ──────────────────────────────────────────────────────── ✣ ─ */
  .gap0-mobile{
  	/* Layout */
  	gap: var(--spacing0);
  }

  .gap1-mobile{
  	/* Layout */
  	gap: var(--spacing1);
  }

  .gap2-mobile{
  	/* Layout */
  	gap: var(--spacing2);
  }

  .gap3-mobile{
  	/* Layout */
  	gap: var(--spacing3);
  }

  .gap4-mobile{
  	/* Layout */
  	gap: var(--spacing4);
  }

  .gap45-mobile{
  	/* Layout */
  	gap: var(--spacing45);
  }

  .gap5-mobile{
  	/* Layout */
  	gap: var(--spacing5);
  }

  .gap6-mobile{
  	/* Layout */
  	gap: var(--spacing6);
  }

  .gap7-mobile{
  	/* Layout */
  	gap: var(--spacing7);
  }

  .gap8-mobile{
  	/* Layout */
  	gap: var(--spacing8);
  }

  .gap9-mobile{
  	/* Layout */
  	gap: var(--spacing9);
  }

  .gap10-mobile{
  	/* Layout */
  	gap: var(--spacing10);
  }

  .gap11-mobile{
  	/* Layout */
  	gap: var(--spacing11);
  }

}



/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████  📱ACESSIBILIDADE   █████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

@media (prefers-reduced-motion: reduce) {
  * {
  	/* Effects */
    transition: none !important;
  }
}




























/* ─── LISTA DE CATEGORIAS DAS PROPRIEDADES ──────────────────────────────────────────────────────── ✣ ─ */

/*Layout*/

/*Sizing*/

/*Typograph*/

/*Visuals*/

/*Effects*/










/* ─── LISTA DE HEADERS ──────────────────────────────────────────────────────── ✣ ─ */




/* ────────────────────────────────────────────────────────────────────────── */
/* ██████████████████████████      HEADER 1     █████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

/* ╔═════════════════════════════════════════════════════════════════════════╗ */
/* ║                               HEADING 2                                 ║ */
/* ╚═════════════════════════════════════════════════════════════════════════╝ */


/* ─── Header 3 ──────────────────────────────────────────────────────── ✣ ─ */

/* █████████████████  Heading Extra  █████████████████ */

/* ────────────────────────────────────────────────────────────────────────── */
/*                                  heading extra                             */
/* ────────────────────────────────────────────────────────────────────────── */

/* ↳ avatar */